
@{
    ViewData["Title"] = "Index";
}
@model SpotSync.Models.Party.PartyModel

<div id="party-box" class="box">
    @if (Model.IsCurrentlyHostingParty)
    {
        <div class="box-inner">
            <h4>You are currently hosting a party</h4>
            <p>Share the code: <b>@Model.CurrentlyActiveParty.PartyCode</b> with your friends to join your party</p>
            @if (Model.CurrentlyActiveParty.Attendees.Count > 0)
            {
                <h4>People Partying With You:</h4>
                @foreach (string attendee in Model.CurrentlyActiveParty.Attendees)
                {
                    <p>@attendee</p>
                }
            }
            else
            {
                <p>Looks like no one is partying with you. You should invite some friends with the party code above.</p>
            }

            <div id="party-controls-box">
                <button class="btn btn-primary sync-btn" onclick="UpdateSongForParty()">
                    Sync Current Song <i class="material-icons btn-icon">sync</i>
                </button>
                <button class="btn btn-danger" onclick="EndParty()">
                    End Party <i class="material-icons btn-icon">delete</i>
                </button>
                <div id="party-controls-message"></div>
            </div>
        </div>
        <div class="box-inner">
            <h4>Kip Tip</h4>
            <p>If you want to join a party, go ahead and end this party</p>
        </div>
    }
    else if (Model.IsCurrentlyJoinedInAParty)
    {
        <div class="box-inner">
            <h4>You are currently attending a party</h4>
            @if (Model.CurrentlyActiveParty.Attendees.Count > 0)
            {
                <h4>People Partying With You:</h4>
                @foreach (string attendee in Model.CurrentlyActiveParty.Attendees)
                {
                    <p>@attendee</p>
                }
            }
            else
            {
                <p>Looks like no one is partying with you. You should invite some friends with the party code: <b>@Model.CurrentlyActiveParty.PartyCode</b></p>
            }

            <button class="btn btn-danger" onclick="LeaveParty()">
                Leave Party <i class="material-icons btn-icon">delete</i>
            </button>
            <div id="party-controls-message"></div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-6">
                <div id="create-party-box" class="box-inner">
                    <h4>Wanna start your own music party?</h4>
                    <button class="btn btn-primary" onclick="CreateParty()">
                        Create a Party <i class="material-icons btn-icon">add</i>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div id="join-party-box" class="box-inner">
                    <input id="partyCodeInput" class="input-text" placeholder="Party Code" />
                    <button class="btn btn-primary" onclick="JoinParty()">
                        Join Party <i class="material-icons btn-icon">login</i>
                    </button>
                    <div id="join-party-message"></div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function CreateParty() {
        $.ajax("/Party/CreateParty")
            .done((response) => {
                // Add new party code to DOM
                location.reload();
            })
            .fail((response) => {
                $("#create-party-box").append(`<p class="error"> <b>An error occurred:</b> ${response.responseText}</p>`)
            })
    }

    function JoinParty() {
        let code = $("#partyCodeInput").val();

        $.ajax("/Party/JoinParty", {
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ PartyCode: code })
        })
            .done((response) => {
                // successfully joined party, update the DOM accordingly
                $("#join-party-message").html(`<p class="success">You successfully joined the party ${code}`)
            })
            .fail((response) => {
                // unsuccessfully joined party
                console.log(response)
                $("#join-party-message").html(`<p class="error"> <b>An error occurred:</b> ${response.responseText}</p>`)
            })
    }

    function EndParty() {
        $.ajax("/Party/EndParty", {
            type: "DELETE",
        })
            .done((response) => {
                location.reload();
            })
            .fail((response) => {
                $("#party-controls-message").html(`<p class="error"><b>An error occurred:</b> ${response.responseText}</p>`)
            })
    }

    function UpdateSongForParty() {
        $.ajax("/Party/UpdateSongForParty")
            .done((response) => {
                $("#party-controls-message").html('<p class="success">Successfully updated song for all party goers.')
            })
            .fail((response) => {
                $("#party-controls-message").html(`<p class="error">Error while updating all party goers with the new song: ${response.responseText}`)
            })
    }
    @if(Model.IsCurrentlyJoinedInAParty) {
     <text>
    function LeaveParty() {
        $.ajax("/Party/LeaveParty", {
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ PartyCode: '@Model.CurrentlyActiveParty.PartyCode' })
        })
            .done(response => {
                location.reload();
            })
            .fail(response => {
                $("#party-controls-message").html(`<p class="error">Error while trying to leave party: ${response.responseText}`)
            })
    }
    </text>
    }
</script>
