@using SpotSync.Models.Shared;
@using SpotSync.Models.Party
@model BaseModel<PartyModel>
@{
    var PartyModel = Model.PageModel;
    ViewData["Title"] = "Index";
}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<style>
    #is-now-playing-information > p {
        display: inline-block;
    }

    .hidden {
        display: none;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        max-width: 650px;
    }

    .spotify-search-results {
        position: absolute;
        width: 100%;
    }

    li:hover {
        background-color: hsl(0, 0%, 96%);
    }

    li {
        padding: 10px;
    }

    .spotify-search-results > .box {
        padding: 0px;
    }

    .is-input-wrapper {
        position: relative;
    }

    .artist {
        float: right;
    }

    .loader {
        height: 40px;
        width: 40px;
    }

    .loader-wrapper {
        display: none;
    }

        .loader-wrapper.is-active {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

    .increment-search-box {
        width: 80%;
    }

    #search-spotify-input {
        transition: width .3s ease-in-out;
    }
</style>

<section class="section">
    <div class="columns">
        <div class="column">
            <div class="box">
                <h1 class="title">Now Playing</h1>
                <div style="overflow:hidden">
                    <div class="is-flex is-justify-content-center">
                        <img style="max-width:340px; width: auto; height: auto;" id="albumArt" src="" />
                        <div class="is-flex is-flex-direction-column is-justify-content-center">
                            <div class="p-3" id="is-now-playing-information">
                                <strong>Title: </strong><p id="track"></p>
                                <br />
                                <strong>Artist: </strong><p id="artist"></p>
                                <p id="album"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h1 class="title">Listeners</h1>
                <div id="listeners"></div>
            </div>
            <div class="box">
                <h1 class="title">Controls</h1>
                <p>Party Code: <strong>@PartyModel.PartyCode</strong></p>
                <div class="container">
                    <button class="button is-primary" onclick="Spotibro.SyncMusicForUser()">Sync Music</button>
                    <a class="button is-danger" href="/party/leaveparty?partyCode=@PartyModel.PartyCode">Leave Party</a>
                </div>
            </div>
        </div>
    </div>
    <div class="columns pt-2">
        <div class="column">
            <div class="box">
                <div>
                    <div style="display: flex; justify-content: space-between">
                        <h1 class="subtitle">Queue</h1>
                        <div id="is-search-spotify-wrapper" class="is-input-wrapper">
                            <input autocomplete=off id="search-spotify-input" class="input" type="text" placeholder="Search Spotify for Music to Add" />
                            <div class="spotify-search-results">
                                <div class="box">
                                    <div id="loader" class="loader-wrapper">
                                        <div class="loader is-loading"></div>
                                    </div>
                                    <ul id="results">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table nolines center interactive is-fullwidth" id="queue"></table>
                    <div id="loader" class="loader-wrapper is-active">
                        <div class="loader is-loading"></div>
                    </div>
                </div>
            </div>
        </div>
        @if (PartyModel.IsUserListening && PartyModel.SuggestedSongs != null)
        {
            <div class="column">
                <div class="box">
                    <div>
                        <h1 class="subtitle">Suggested Songs</h1>
                        <table class="table nolines interactive center is-fullwidth">
                            <tbody id="suggested-songs">
                                @foreach (var song in PartyModel.SuggestedSongs)
                                {
                                    <tr data-trackuri="@song.TrackUri" data-artist="@song.Artist" data-title="@song.Title" data-albumimageurl="@song.AlbumImageUrl" data-length="@song.Length">
                                        <td>@song.Title</td>
                                        <td>@song.Artist</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container pt-2" style="z-index: -1">
        <div class="box">
            <div>
                <h1 class="subtitle">History</h1>
                <table class="table center nolines is-fullwidth" id="history"></table>
                <div id="loader" class="loader-wrapper is-active">
                    <div class="loader is-loading"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal">
    <div class="modal-background"></div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Where is your Spotify?
            </p>
        </header>
        <div class="card-content">
            <div id="card-content" class="content">
            </div>
        </div>
        <footer class="card-footer">
            <a onclick="Spotibro.CheckForActiveSpotifyConnection()" class="card-footer-item">Sync</a>
            <a onclick="Spotibro.CloseModal()" class="card-footer-item">Close</a>
        </footer>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script>
@section Scripts {
    <script>
        Spotibro.RealtimeFunctionality("@PartyModel.PartyCode");

        let suggestedSongsElement = document.getElementById("suggested-songs");

        Sortable.create(suggestedSongsElement, {
            group: {
                name: 'shared',
                put: false
            },
            animation: 300,
            easing: "cubic-bezier(0.76, 0, 0.24, 1)",
            ghostClass: "has-background-white-ter",
            chosenClass: "has-background-info-light",
            dragClass: "has-background-info-light"
        });


        u("#results").children().on('click',(event) => {
            console.log("clicked")
        })
    </script>
}
