@model SpotSync.Models.Shared.BaseModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpotSync</title>
    <link rel="icon" href="~/favicon.ico" type="image/ico" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
    <style>
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            font-family: 'Roboto', sans-serif;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            line-height: 1;
        }

        ol, ul {
            list-style: none;
        }

        blockquote, q {
            quotes: none;
        }

            blockquote:before, blockquote:after,
            q:before, q:after {
                content: '';
                content: none;
            }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        body {
        }

        a {
            text-decoration: none;
            color: black;
        }

        .spotibro-left-bar-nav {
            top: 0px;
            left: 0px;
            background-color: #f1f1f1;
            display: flex;
            flex-direction: column;
            width: 150px;
        }

        @@media (min-width: 1000px) {
            .spotibro-left-bar-nav {
                position: absolute;
                height: 100%;
            }

            .spotibro-main-content {
                margin-left: 150px;
            }
        }

        .spotibro-nav-list li {
            margin: 5px 3px 5px 3px;
            padding: 3px 10px 3px 10px;
        }

            .spotibro-nav-list li:hover {
                background-color: #cfe7ef;
                border-radius: 20px;
            }

        .spotibro-nav-list ul li {
            padding: 3px 10px 3px 20px;
        }

        .spotibro-selected {
            background-color: #cfe7ef;
            border-radius: 20px;
            font-weight: bold;
        }

        .spotibro-logo {
            padding: 20px;
        }

        .spotibro-button {
            border-radius: 20px;
            border: none;
            color: white;
            font-weight: bold;
            margin: 10px;
            padding: 10px 5px 10px 5px;
            text-align: center;
        }

            .spotibro-button.primary {
                background-color: #118AB2;
            }

            .spotibro-button.affirmative {
                background-color: #06D6A0;
            }

            .spotibro-button.danger {
                background-color: #EF476F;
            }

        #logout-button {
            margin-top: auto;
        }
    </style>
</head>
<body>
    <nav class="spotibro-left-bar-nav">
        <div class="spotibro-logo">
            <img src="~/assets/logo.svg" />
            </div>
        <ul class="spotibro-nav-list">
            <li class="spotibro-selected">
                <a href="@Url.Action("index", "dashboard")">Dashboard</a>
            </li>
            @if (Model != null && Model.IsUserInParty)
            {

                <li>
                    <a>Party</a>
                    <ul>
                        <li><a>Queue</a></li>
                        <li><a>History</a></li>
                        <li><a>Settings</a></li>
                    </ul>
                </li>
            }
            </ul>
            @if (Model != null && !Model.IsUserInParty) {
             <a href="@Url.Action("startparty", "party")" class="spotibro-button primary">Create Party</a> 
            }
        <a id="logout-button" class="spotibro-button affirmative" href="@Url.Action("logout", "account")">Log Out</a>
    </nav>
    <div class="spotibro-main-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div style="position: fixed; display: flex; flex-direction: row; justify-content: center; bottom: 100px; width: 100%;">
        <div id="user-notifications" style="display: flex; flex-direction: column"></div>
    </div>

    @RenderSection("StatusBar", required: false)

    <div id="notifications" style="position: fixed; bottom: 0; right: 0; margin: 10px;">
        @if (!string.IsNullOrWhiteSpace(Model?.ErrorMessage))
        {
            <div class="notification is-danger is-light">
                <button onclick="DeleteNotification()" class="delete"></button>
                @Model.ErrorMessage
            </div>
        }
    </div>

    @RenderSection("Scripts", required: false)
    <script src="~/lib/umbrellajs/umbrella.min.js"></script>
    <script>
        function DeleteNotification() {
            u("#notifications").children().first().remove();
        }

        function toggleMenu() {
            u("#navbarBasicExample").toggleClass("is-active")
        }
    </script>
</body>
</html>
