
@{
    ViewData["Title"] = "Dashboard";
}
@model SpotSync.Models.Dashboard.DashboardModel

<h1>Hello @Model.Name</h1>

@if (Model.CurrentSong != null)
{
    <div class="current-song-box">
        <h2>Now Playing:</h2>
        <div class="row current-song-box-flex">
            <div class="col-md-7 current-song-box-item">
                <a class="now-playing-art-link" href="https://open.spotify.com/" target="_blank">
                    <div class="now-playing-art-container">
                        <img class="now-playing-art" src="@Model.CurrentSong.AlbumImageUrl"/>
                        <i class="material-icons album-icon">open_in_new</i>
                    </div>
                </a>
            </div>
            <div class="col-md-5 current-song-box-item">
                <p>Title: <b>@Model.CurrentSong.Title</b></p>
                <p>Artist: <b>@Model.CurrentSong.Artist</b></p>
                <p>Album: <b>@Model.CurrentSong.Album</b></p>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12 no-music">
            <h4>It looks like you're not playing any music right now.</h4>
            <h4>
                <a class="open-spotify-btn" href="https://open.spotify.com/" target="_blank">
                    Open Spotify <i class="material-icons">open_in_new</i>
                </a> to start playing some music.
            </h4>
        </div>
    </div>
}




